<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tiny.cloud/1/fl17ta0vnwiu1e83c59awiz4luuj31l6t9dq8autrc5wifec/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <title>Edit Post - BlogScape</title>
</head>

<body>
  {{> _header}}
  <section class="content">
    <div class="form-area">
      <h1 class="header">Edit Blog post</h1>
      <form class="form edit-form">
        <label>
          <span class="head">Title</span>
          <input type="text" name="title" id="title" value='{{blogPost.title}}' placeholder="Title..." required>
        </label>
        <label>
          <span class="head">Status</span>
          <div class="custom-select-wrapper">
            <div class="custom-select">
              <div class="custom-select__trigger"><span>{{uppercase blogPost.status}}</span>
                <div class="arrow"></div>
              </div>
              <ul name="status" class="custom-options">
                <option class="custom-option {{select 'private' blogPost.status}}" data-value="private" value="private">
                  Private</option>
                <option class="custom-option {{select 'public' blogPost.status}}" data-value="public" value="public">
                  Public
                </option>
              </ul>
            </div>
          </div>
        </label>
        <label>
          <span class="head">Body</span>
          <textarea name="body" id="editor" required>{{blogPost.body}}</textarea>
        </label>
        <div class="form-btns">
          <button class="form-btn" type="submit">Update</button>
          <a href="/dashboard" class="form-cancel">Cancel</a>
        </div>

      </form>
    </div>
  </section>
  {{> _footer}}
  <script src="/js/dropdown.js"></script>
  <script>
    tinymce.init({
      selector: '#editor',
      plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable  tinymcespellchecker',
      toolbar: 'casechange checklist code formatpainter pageembed permanentpen table align',
      toolbar_mode: 'floating',
    });
    const form = document.querySelector('.edit-form');
    async function updateBlog(e) {
      e.preventDefault();
      const body = {
        title: document.querySelector('#title').value,
        body: tinymce.activeEditor.getContent(),
        status: document.querySelector('.selected').value,
      };
      try {
        await fetch(`/blog/{{blogPost._id}}`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(body),
        });
      } catch (error) {
        console.error(error);
      }
    }
    form.addEventListener('submit', e => {
      updateBlog(e);
      location.href = '/dashboard';
    });
  </script>
</body>

</html>