<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/blogs.css">
  <title>Blogs - BlogScape</title>
</head>

<body>
  {{> _header}}
  <section class="content">
    <h1 class="header">Blogs</h1>
    <div class="posts">
      {{#each blogPosts}}
      <div class="post">
        <div class="post-content">
          <div class="post-info">
            <div class="img">
              <a href="/users/@{{user.username}}">
                <img src="{{user.image}}" alt="User image">
              </a>
            </div>
            <div class="info">
              <span class="user-info"><a href="/users/@{{user.username}}">{{user.displayName}}</a></span>
              <div class="time-info">{{formatDate createdAt false}} · {{stats body true}}
              </div>
            </div>
          </div>
          <a href="/blog/{{_id}}">
            <div class="post-body">
              <h1>{{title}}</h1>
              <p>{{truncate (stripTags body) 140}}</p>
            </div>
          </a>
          <button class="btn-like">
            <i class="fa fa-thumbs{{isLiked ../user _id}}-up" data-id="{{_id}}"></i>
            <span class="count" id="id{{_id}}">{{likes}}</span>
          </button>
        </div>
      </div>
      {{else}}
      <h1 class="error">No posts to display</h1>
      {{/each}}
    </div>
  </section>
  {{> _footer}}

  <script src="/js/blog.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/like.js"></script>
</body>

</html>