<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{blogPost.title}}">
  <meta name="description" content="{{truncate (stripTags blogPost.body) 100}}">
  <meta name="author" content="{{blogPost.user.displayName}}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/page.css">
  <title>{{blogPost.title}} - {{blogPost.user.displayName}} - BlogScape</title>
</head>

<body>
  {{> _header}}
  <section class="content">
    <div class="post">
      <h1 class="header">{{blogPost.title}}</h1>
      <div class="post-info">
        <div class="img">
          <a href="/users/@{{blogPost.user.username}}">
            <img src="{{blogPost.user.image}}" alt="User image">
          </a>
        </div>
        <div class="info">
          <span class="user-info"><a href="/users/@{{blogPost.user.username}}">{{blogPost.user.displayName}}</a></span>
          <div class="time-info">{{formatDate blogPost.createdAt false}} · {{stats blogPost.body true}}
          </div>
        </div>
      </div>
      <div class="post-body">{{{blogPost.body}}}</div>
    </div>
  </section>
</body>

</html>