<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      if (document.referrer.match(/http:\/\/localhost:3000\/blog\/edit\/[\d]+/)) {
        window.location.reload(true);
      }
    })
  </script>

  <title>Dashboard - Blogger</title>
</head>
<style>
  .error {
    margin: 30px 0 0;
    font-size: 1.2rem;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    .error {
      font-size: 1.07rem;
    }
  }
</style>

<body>
  {{> _header}}
  <section class="content">
    <div class="head">
      <h1>Your Blog Posts</h1>
      <a href="/blog/add" class="btn">Write a blog</a>
    </div>

    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-btn" data-tab="#private" id="default">Private &nbsp;<span
            class="blog-count-private">{{getCount private.length}}</span></li>
        <li class="tab-btn" data-tab="#public">Public &nbsp;<span
            class="blog-count-public">{{getCount public.length}}</span>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="private">
      {{#each private}}
      <div class="story private-post" id="id{{_id}}">
        <div class="story-head">
          <h3 class="post-header"><a href="/blog/{{_id}}">{{title}}</a></h3>
          <h3 class="body">{{truncate (stripTags body) 125}}</h3>
        </div>
        <div class="stats">
          <div class="info">Created {{formatDate createdAt true}} · {{stats body}}</div>
          <span class="more-info">
            <button class="has-dropdown">
              <i class="fa fa-angle-down"></i>
              <ul class="dropdown">
                <li class="dropdown-item">
                  <a href="/blog/edit/{{_id}}">Edit post</a>
                </li>
                <li class="dropdown-item">
                  <a id="delete-btn" data-id="{{_id}}">Delete post</a>
                </li>
              </ul>
            </button>
          </span>
        </div>
      </div>
      <hr>
      {{else}}
      <h1 class="error">You haven't created any private blog posts yet.</h1>
      {{/each}}
    </div>

    <div class="tab-content" id="public">
      {{#each public}}
      <div class="story public-post" id="id{{_id}}">
        <div class="story-head">
          <h3 class="post-header"><a href="/blog/{{_id}}">{{title}}</a></h3>
          <h3 class="body">{{truncate (stripTags body) 125}}</h3>
        </div>
        <div class="stats">
          <div class="info">Created {{formatDate createdAt true}} · {{stats body}}</div>
          <span class="more-info">
            <button class="has-dropdown">
              <i class="fa fa-angle-down"></i>
              <ul class="dropdown">
                <li class="dropdown-item">
                  <a href="/blog/edit/{{_id}}">Edit post</a>
                </li>
                <li class="dropdown-item">
                  <a id="delete-btn" data-id="{{_id}}">Delete post</a>
                </li>
              </ul>
            </button>
          </span>
        </div>
      </div>
      <hr>
      {{else}}
      <h1 class="error">You haven't created any public blog posts yet.</h1>
      {{/each}}
    </div>
  </section>
  {{> _footer}}

  <script src="/js/navbar.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>